@using Microsoft.AspNetCore.Identity
@using Razor_VS_Code_test.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
        <ul class="nav navbar-nav justify-content-end">
                @if (await UserManager.IsInRoleAsync(user, "Administrator"))
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Messages" asp-action="DialogList" title="Messages">Dialogs</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Messages" asp-action="Index" asp-route-id="@UserManager.GetUserId(User)" title="Message">Messages</a>
                    </li>
                }
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li class="nav-item">
                <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                    <button type="submit" class="btn navbar-btn navbar-link" role="button">Log out</button>
                </form>
            </li>
        </ul>
}
else
{
    <ul class="nav navbar-nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Log in</a>
        </li>
    </ul>
}
