@model IList<Sale>
@{
    ViewData["Title"] = "Упраление акциями";
    ViewData.AddActivePage(ManageNavPages.ManageActions);
}

<p class="text-muted">@ViewData["Title"]</p>

@Html.Partial("~/Views/Discount/_ActionsList.cshtml", @Model)

@Html.Partial("_AddNewSale", new AddNewSaleViewModel())
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}