@using Microsoft.Extensions.FileProviders
@model string[]

@{
    ViewData["Title"] = "Упраление изображениями";
    ViewData.AddActivePage(ManageNavPages.ManageImages);
}

<p class="text-muted">@ViewData["Title"]</p>

<p>Список существующих изображений:</p>

<ul>
    @foreach (string item in Model)
    {
        <li>@item</li>
    }
</ul>

<form method="post" enctype="multipart/form-data" asp-controller="UploadFiles" asp-action="Index">
<div class="form-group">
    <div class="col-md-10">
        <p>Upload one or more files using this form:</p>
        <input type="file" name="files" multiple />
    </div>
</div>
<div class="form-group">
    <div class="col-md-10">
        <input type="submit" value="Upload" />
    </div>
</div>
</form>