@model IList<MessagesListVievModel>

<p class="text-muted">Ваши последние сообщения: </p>
<hr />
<div class="row">
    <div class="col-md-12">
        <ul>
            @foreach (var messageList in Model)
            {
                <li>
                    <a asp-area="" asp-controller="Messages" asp-action="Index" asp-route-id="@messageList.ChatOwner.Id" title="@messageList.ChatOwner.UserName">@messageList.ChatOwner.UserName</a>
                </li>
            }
        </ul>
    </div>
</div>