@using Razor_VS_Code_test.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav flex-column">
  <li class="nav-item" class="@ManageNavPages.IndexNavClass(ViewContext)">
    <a asp-action="Index" class="nav-link">Данные пользователя</a>
  </li>
  <li class="nav-item" class="@ManageNavPages.ChangePasswordNavClass(ViewContext)">
    <a asp-action="ChangePassword" class="nav-link">Пароль</a>
  </li>
  @if (hasExternalLogins)
  {
    <li class="nav-item" class="@ManageNavPages.ExternalLoginsNavClass(ViewContext)">
        <a asp-action="ExternalLogins" class="nav-link">Авторизация через соцсети</a>
    </li>
  }
  <li class="nav-item" class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)">
    <a asp-action="TwoFactorAuthentication" class="nav-link">Two-factor authentication</a>
  </li>
</ul>