@{
    ViewData["Title"] = "Contact";
}
<section id="our-advantage" class="bg-faded mb-3">
	<div class="container pt-5 pb-5">
		<div class="row fill-viewport align-items-center justify-content-end text-black">
			<div class="col-md-6">
				<h3 class="text-center">Наши преимущества</h3>
			</div>
			<div class="col-md-6">
				<ul class="list-unstyled text-left text-black-70 list-with-ticks">	
					<li><strong>Более 30 СТО</strong> по всей Беларуси</li>					
					<li>Мы работаем с каждым клиентом индивидуально</li>					
					<li>Службы сервиса предлагают скидки и бонусы нашим клиентам</li>					
					<li>Вы экономите своё время</li>					
					<li>Это бесплатно для Вас</li>					
				</ul>
			</div>
		</div>
	</div>
</section>
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>