 @{ ViewData["Title"] = "Акции и скидки наших партнёров"; }
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<div class="row">
  <div class="col-8">
    <div class="row">
      <div class="col-6 mb-3">
        <div class="card-img bg-faded"></div>
        <div class="card-block">
          <h6 class="card-subtitle">Скидки на комплексное обслуживание авто</h6>
          <hr>
          <a href="#">Подробнее</a>
        </div>
      </div>
      <div class="col-6 mb-3">
        <div class="card-img bg-faded"></div>
        <div class="card-block">
          <h6 class="card-subtitle">Скидка предъявителям клубных карт увеличена на 14%</h6>
          <p class="text-muted">
            С 15 по 20 августа всем обладателям клубной карты "Авто-Эксперт" начисляется дополнительная скидка на услуги по ремонту авто старше 3 лет. Предварительная бронь не обязательна.
          </p>
          <hr>
          <a href="#">Подробнее</a>
        </div>
      </div>
      <div class="col-6 mb-3">
        <div class="card-img bg-faded"></div>
        <div class="card-block">
          <h6 class="card-subtitle">Скидка на ремонт Pegeot</h6>
          <hr>
          <a href="#">Подробнее</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    Фильтры
    <hr>
    <label>
      <input type="checkbox"> Новые акции
    </label>
  </div>
</div>